body {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  background: #414141;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar, .navbar-header {
  background: #424242;
  margin: 0;
  height: 50px;
}

.navbar-header {
  margin-left: 12px;
}

.navbar-toggle {
  float: left;
}

#nav-hamburger {
  font-size: 20px;
  color: #FFF;
}

.navbar-brand {
  float: left;
  font-size: 16px;
}

.navbar-brand:hover {
  background: #FFF;
}

@media (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

.navbar-collapse {
  display: inline;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}

@media (max-width: 767px) {
  .navbar-collapse {
    font-size: 12px;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 10000;
    width: 200px;
    height: 100%;
  }
}

#nav-list {
  background: #424242;
  margin-top: 0;
  width: 100%;
}


.nav-item, .navbar-brand {
  background: #424242;
  color: #FFF;
  font-weight: 700;
}

.nav-item {
  margin-left: 10px;
}

@media (max-width: 1050px) and (min-width: 768px) {
  .nav-item {
    margin-left: 0;
    padding: 15px 5px;
  }
}

#btn-move-left,
#btn-move-right {
  margin-top: 10px;
}

.btn-smallscreen {
  margin-top: 0;
  width: 155px;
  background: #626262;
  color: #FFF;
  border-radius: 0;
}

.btn-smallscreen:hover, .btn-smallscreen:visited {
  color: #FFF;
}

@media (min-width: 768px) {
  .btn-bigscreen {
    display: inline;
  }

  .btn-smallscreen {
    display: none;
  }
}

@media (max-width: 767px) {
  .btn-bigscreen {
    display: none;
  }

  .btn-smallscreen {
    display: inline;
  }

  .navbar-nav {
    margin-bottom: 0;
  }
}

#searchbar {
  float: left;
  border: none;
  box-shadow: none;
}

@media (min-width: 768px) {
  #searchbar {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .nav-search {
    float: left;
    margin: 0 2px 8px 2px;
  }

  .search-icon {
    margin: 0 0 8px 6px;
    padding: 8px 4px 2px 4px;
  }
}

/* Map Styles */

#map {
  position: absolute;
  margin: 16px 0 0 0;
  height: 90%;
  width: 100%;
}
/*
@media (min-width: 1050px) {
  #map {
    margin-top: 0;
  }
}
*/
@media (min-width: 768px) {
  #map {
    margin-top: 60px;
    height: 84%;
  }
}

@media (max-width: 400px) {
  #map {
    height: 88%;
  }
}
/*
@media (max-width: 767px) {
  #map {
    height: 500px;
  }
}

@media (max-width: 500px) {
  #map {
    height: 300px;
  }
}
*/
#show-landmarks {
  margin: 10px auto 10px 20px;
}

#hide-landmarks {
  margin: 10px auto 10px 0;
}

/* Info Window Styles */
@media (min-width: 768px) {
  .marker-div {
    width: 500px;
    height: 500px;
  }
}
.marker-title {
  text-align: center;
  margin: 0 0 2px 0;
  font-size: 18px;
  font-weight: 800;
}

#pano {
  width: 96%;
  height: 90%;
  margin-left: 20px;
}

.weather-conditions, .weather-temperature {
  display: inline-block;
  font-size: 20px;
}

.weather-temperature {
  margin: 6px 0 0 0;
  font-weight: 400;
}

.weather-conditions {
  margin: 6px 10px 0 28%;
}
